<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet">
    <title>@ViewBag.Title</title>
    <style>
        .margin-8 {
            margin: 8px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="https://github.com/InC0deWeTrust/OnlineShop/blob/main/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF.png?raw=true" alt="" width="136" height="39">
            - магазин гітар
        </a>
        @Html.Action("Summary", "Cart")
    </nav>

    <div class="row margin-8">
        <div id="">
            @Html.Action("Menu", "Nav")
        </div>
        <div class="margin-8">
            @RenderBody()
        </div>
    </div>
</body>
</html>