@using WaveUP.WebUI.Models
@using WaveUP.WebUI.HtmlHelpers
@model InstrumentsListViewModel

@{
    ViewBag.Title = "Товари";
}

@foreach (var p in @Model.Instruments)
{
    @Html.Partial("InstrumentSummary", p)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List",
        new { page = x, category = Model.CurrentCategory }))
</div>