@model WaveUP.Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "WaveUP: форма заказу";
}

<h2>Оформити заказ зараз</h2>
<p>Будь-ласка введіть контактні дані, і ми вмить відправим товар!</p>
<p>Зверніть увагу шо доставка працює лише по Україні!</p>


@using (Html.BeginForm())
{
    @Html.ValidationSummary();
    <h3>Реєстраційна форма</h3>
    foreach (var property in ViewData.ModelMetadata.Properties)
    {
        <div class="form-group">
            <label>@(property.DisplayName ?? property.PropertyName)</label>
            @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
        </div>  
    }

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Обробити заказ" />
    </div>
}
